.filter-container {
    display: flex;    
    align-items: center;
    width: 100%;
    padding: 10px 30px;  
}

.p-splitbutton {
   --p-button-primary-border-color: black;
   --p-button-primary-border-color-hover: black;
   --p-button-primary-border-color-focus: black;
    
}