p-menubar {
    --p-menubar-padding: 0 4%;
}

.nav-logo {
    height: 60px;
    cursor: pointer;

    .logo-box {
        object-fit: contain;
        height: 100%;
        filter: drop-shadow(0.5px 0.5px 0.5px #ffffff);
    }
}

@media screen and (max-width: 768px) {
    .nav-logo {
        height: 40px;
        margin: 8px 0;
    }
}

.avatar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}