<header class="nav-bar">
    <div [routerLink]="['/home']" class="nav-logo"><img src="logo.png" alt="Logo box-store"></div>
    <div class="nav-category">Menu</div>
    <a [routerLink]="['/home/admin']" class="nav-category">Admin</a>
    <div class="nav-menu">        
        <a [routerLink]="['/login']"><i class="pi pi-user" style="font-size: 1.5rem"></i></a>
        <a [routerLink]="['/home/cart']" class="nav-cart"><i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i> Cart</a>
    </div>
</header>