<h1 class="title-page">Detalhes do Produto</h1>
<p-toast />

@if (product) {

<div class="product-detail-container">
    <div class="left-content">
        @defer (when product) {
        <img class="product-image" [src]="product.image" [alt]="product.title">
        }@placeholder {
        <i class="pi pi-image"></i>
        }@loading {
        <p>Carregando...</p>
        }

    </div>
    <div class="right-content">
        <div class="product-info">
            <h2 class="product-title">{{product.title}}</h2>
            <p class="product-description">{{product.description}}</p>
            <p-rating *ngIf="product.rating" [(ngModel)]="product.rating.rate" [readonly]="true"></p-rating>
            <hr class="product-hr">
            <h2 class="product-price">{{product.price | currency:'BRL'}}</h2>
            <hr class="product-hr">
        </div>
        <div class="product-actions">
            <div class="btn-container">
                <app-btn-counter (decrement)="decrementProductQuantity()" (increment)="incrementProductQuantity()"
                    [quantity]="productQuantity"></app-btn-counter>

                <app-button (click)="addToCart()" class="btn-add" [label]="'Adicionar ao Carrinho'"></app-button>
            </div>
        </div>
    </div>
</div>
}