<p-toast />
<div class="login-container">
    <div class="left-content">
        <form [formGroup]="loginForm" class="form-login">
            <img src="logo.png" alt="box-store logo" class="logo" />
            @if(!authService.isLoggedIn()){

                @if(loginPage) {
                <h1>Bem vindo!</h1>

                <p-floatlabel>
                    <input pInputText id="over_label" formControlName="username" autocomplete="off" />
                    <label for="over_label">Usuário</label>
                </p-floatlabel>
                <p-floatlabel>
                    <input pInputText id="over_label" formControlName="password" type="password" autocomplete="off" />
                    <label for="over_label">Senha</label>
                </p-floatlabel>
                <button (click)="login()" class="btn-login">Logar</button>
                <button (click)="switchToRegister()" class="btn-register">Registra-se</button>
                } @else if(loginPage) {
                <h1>Digite seus dados!</h1>

                <p-floatlabel>
                    <input pInputText id="over_label" formControlName="username" autocomplete="off" />
                    <label for="over_label">Usuário</label>
                </p-floatlabel>
                <p-floatlabel>
                    <input pInputText id="over_label" formControlName="password" type="password" autocomplete="off" />
                    <label for="over_label">Senha</label>
                </p-floatlabel>
                <button (click)="registerUser()" class="btn-login">Criar conta</button>
                <button (click)="switchToRegister()" class="btn-register">Retornar</button>
                }

            }@else{
                <h1 class="user-logged">Você já está logado!</h1>
                <button  class="btn-login"><a [routerLink]="'/home'">Ir para produtos</a></button>

            }

        </form>

    </div>
    <div class="right-content">

    </div>
</div>