<div class="cart-page">
    <div class="title-cart">

        <h1 class="title-page">Seu Carrinho</h1>
    </div>

    <div class="cart-content">
        <div class="cart-list">
            @for(item of cartItems; track item.product.id) {

            <app-cart-item 
            (onIncrementItem)="incrementItem(item.product.id)" 
            (onDecrementItem)="decrementItem(item.product.id)"
            (onDeletItem)="deleteItem(item.product.id)" 
            [productItem]="item"></app-cart-item>

            @if(!$last) {
            <hr class="hr-cart">
            }

            } @empty{
            <h2>Seu carrinho está vazio .</h2>
            }

        </div>
        <div class="order-container">
            <h3>Resumo do Pedido</h3>
            <div class="total-order">
                <h3>Total</h3>
                <p>{{totalOrder | currency: 'BRL'}}</p>
            </div>
            <button class="btn-order">Finalizar Pedido <i class="pi pi-arrow-right" style="font-size: 1.2rem"></i></button>
        </div>
    </div>

</div>